body{
  font-family: "Arial", "Meiryo", sans-serif；
  text-align: centor;
}

html{
    font-size: 20px;
}

h1{
    letter-spacing: 1.2em;
    border-bottom: 3px solid rgb(115,115,114);
    text-shadow: 3px 3px 5px gray;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 2rem;
}

.bule{
    color: skyblue;
}

.pink{
    color:rgb(255, 192, 203)
}

#basic p{
    font-weight:bold;
}
